<html>
  <head>
    <title>Lazada Components Prototype</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>
    <div class="wrapper js_wrapper"></div>
  </body>
</html>